# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [5]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)
display(vendas_df[['data', 'produto']])

         data produto
0  15/02/2021  feijao
1  16/02/2021   arroz

### Visualização dos Dados
    - print
    - display

In [7]:
print(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [8]:
import pandas as pd
vedas_df = pd.read_excel("Vendas.xlsx")
display(vedas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [9]:
display(vedas_df.head(12))
print(vedas_df.shape)
display(vedas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
10,8,2019-01-02,Iguatemi Campinas,Terno Estampa,5,706,3530
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

### Pegar 1 coluna (e os pd.Series)

In [10]:
produtos = vedas_df['Produto']
display(produtos)
produtosvalores_df = vedas_df[['Produto', 'Valor Unitário']]
display(produtosvalores_df)

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

                 Produto  Valor Unitário
0         Sapato Estampa             358
1               Camiseta             180
2          Sapato Xadrez             368
3                Relógio             200
4           Chinelo Liso              71
...                  ...             ...
93905     Mochila Xadrez             283
93906  Pulseira Listrado              79
93907     Cueca Listrado              67
93908     Pulseira Linho             114
93909      Casaco Xadrez             259

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [11]:
#display(vedas_df.loc[2])
#-----uma linha

#display(vedas_df.loc[1:6])
#-----sequencia ou unicas

#display(vedas_df.loc[vedas_df['ID Loja'] == 'Shopping Ibirapuera'])
#Shopping_Ibirapuera_df = (vedas_df.loc[vedas_df['ID Loja'] == 'Shopping Ibirapuera'])
#-----Uma linha ou coluna específica

#Shopping_Ibirapuera_df = (vedas_df.loc[vedas_df['ID Loja'] == 'Shopping Ibirapuera', ['ID Loja', 'Produto', 'Data']])
#display(Shopping_Ibirapuera_df)
#-----escolher as linhas e colunas que vao aparecer;


#display(vedas_df.loc[22, 'Produto'])
#-----escolher valor específico

<class 'pandas.core.frame.DataFrame'>

### Adicionar 1 coluna

In [12]:
#A partir de uma ja existente:
vedas_df['comissão']=vedas_df['Valor Final'] * 0.05
display(vedas_df)
#criar com valor padrão
vedas_df.loc[:, 'imposto'] = 0
display(vedas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,comissão,imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [13]:
#vendas_dezembro_df= pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dezembro_df)
#vedas_df = pd.concat([vedas_df, vendas_dezembro_df], ignore_index=True)
display(vedas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,comissão,imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Excluir linhas e colunas

In [14]:
#vedas_df=vedas_df.drop("imposto", axis=1) #axis=1: coluna, axis=0: linha
#display(vedas_df)

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [15]:
#NaN

#Deletar colunas e linhas 100% vazias
#vedas_df = vedas_df.dropna(how="all", axis=1)

#deletar linhas que possuem pelo menos um valor vazio
#vedas_df = vedas_df.dropna()

#preencher valores vazios (média dos valores)
#vedas_df['comissão'] =vedas_df["comissão"].fillna(vedas_df['comissão'].mean())

#preencher com ultimo valor
#vedas_df = vedas_df.ffill()

### Calcular Indicadores
    - Groupby
    - Value Counts

In [ ]:
#contagem de valores
#transaçoes_loja=vedas_df['ID Loja'].value_counts()
#display(transaçoes_loja)

#agrupar informaçoes
#Faturamento_produto = vedas_df[['Produto','Quantidade','Valor Final','Valor Unitário']].groupby('Produto').sum()
#display(Faturamento_produto)
#sum() = somar mean()= média, etc...

                  Quantidade  Valor Final  Valor Unitário
Produto
Bermuda                 1692       253800          116100
Bermuda Estampa         1616       273104          127257
Bermuda Linho           1893       369135          167115
Bermuda Liso            1637       257009          120262
Bermuda Listrado        1675       273025          129259
...                      ...          ...             ...
Tênis Estampa           1663       425728          200704
Tênis Linho             1713       503622          232848
Tênis Liso              1656       440496          205086
Tênis Listrado          1737       455094          207766
Tênis Xadrez            1661       430199          205905

[120 rows x 3 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [23]:
Gerente_df = pd.read_excel('Gerentes.xlsx')
#display(Gerente_df)

#quero a coluna "Gerente" na vedas_df
vedas_df=vedas_df.merge(Gerente_df)
#display(vedas_df)
display(vedas_df[['ID Loja', 'Gerente']])

                   ID Loja   Gerente
0       Iguatemi Esplanada  Salvador
1       Iguatemi Esplanada  Salvador
2       Iguatemi Esplanada  Salvador
3           Norte Shopping     Joana
4           Norte Shopping     Joana
...                    ...       ...
93905  Shopping Vila Velha     Pablo
93906    Ribeirão Shopping     Fábio
93907    Ribeirão Shopping     Fábio
93908     Shopping Morumbi    Gisele
93909     Shopping Morumbi    Gisele

[93910 rows x 2 columns]

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição